/*Big tablet to 1200px (widths smaller than the 1140px row)*/
@media only screen and (max-width: 1200px) {
  .hero-text-box {
    width: 100%;
    padding: 0 2%;
  }
  .row {
    padding: 0 2%;
  }
}
/* Small tablets to big tablets: 768px to 1023px*/
@media only screen and (max-width: 1023px) {
  html {
    font-size: 18px;
  }
  section {
    padding: 60px 0;
  }
  .long-copy {
    width: 80%;
    margin-left: 10%;
  }
  .steps-box {
    margin-top: 15px;
  }
  .steps-box:last-child {
    margin-top: 15px;
  }
  .works-step {
    margin-bottom: 40px;
  }
  .works-step:last-of-type {
    margin-bottom: 60px;
  }
  .app-screen {
    width: 45%;
  }
  .icon-small {
    margin-right: 5px;
  }
  .city-features {
    font-size: 0.9rem;
  }
  .plan-box {
    width: 100%;
    margin-left: 0;
  }
  .plan-price span {
    font-size: 2.65rem;
  }
  .contact-form {
    width: 80%;
  }
}
/* Small phones to small tablets: 481px to 767px*/
@media only screen and (max-width: 767px) {
  html {
    font-size: 16px;
  }
  section {
    padding: 30px 0;
  }
  .row,
  .hero-text-box {
    padding: 0 4%;
  }
  .col {
    width: 100%;
    margin: 0 0 4% 0;
  }
  /*.main-nav {
    display: none;
  }*/
  .mobile-nav-icon {
    display: inline-block;
  }

  .main-nav {
    display: none;
    float: left;
    margin-top: 25px;
  }

  .main-nav li {
    display: block;
    margin-top: 13px;
  }

  .main-nav li a,
  .main-nav li a:hover {
    border: 0;
  }

  .sticky-nav .main-nav {
    margin-top: 5px;
    margin-bottom: 10px;
  }

  .sticky-nav .mobile-nav-icon {
    margin-top: 15px;
  }

  .sticky-nav .mobile-nav-icon ion-icon {
    color: #555;
  }

  .long-copy {
    width: 100%;
    margin-left: 0;
  }
  h1 {
    font-size: 1.8rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  .steps-box:first-child {
    text-align: center;
  }
  .works-step div {
    height: 40px;
    width: 40px;
    padding: 4px;
    margin-right: 15px;
    font-size: 1.2rem;
  }
  .app-screen {
    width: 40%;
  }
  .works-step {
    margin-bottom: 40px;
  }
  .works-step:last-of-type {
    margin-bottom: 20px;
  }
}
/* small phones from 0 to 480px */
@media only screen and (max-width: 480px) {
  section {
    padding: 25px 0;
  }
  .contact-form {
    width: 100%;
  }
}
