/* --------------------------------------------------------- */
/* BASIC SETUP */
/* --------------------------------------------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #fff;
  color: #555;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  font-weight: 300;
  text-rendering: optimizeLegibility;
}

.clearfix {
  zoom: 1;
}
.clearfix:after {
  content: ".";
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}

/* --------------------------------------------------------- */
/*REUSABLE COMPONENTS*/
/* --------------------------------------------------------- */

.row {
  max-width: 1140px;
  margin: 0 auto;
}

section {
  padding: 80px 0;
}

/* ------ HEADINGS ------ */

h1,
h2,
h3 {
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 1px;
}

h1 {
  margin-top: 0;
  margin-bottom: 15px;
  color: #fff;
  font-size: 2.8rem;
  word-spacing: 4px;
}

h2 {
  font-size: 1.8rem;
  word-spacing: 2px;
  text-align: center;
  margin-bottom: 30px;
}

h2:after {
  display: block;
  height: 2px;
  background-color: #e67e22;
  content: " ";
  width: 100px;
  margin: 30px auto 0 auto;
}

h3 {
  font-size: 1.1rem;
  margin-bottom: 15px;
  font-weight: 400;
  letter-spacing: 0;
}

.feature-box {
  padding: 1%;
}

/* ------ PARAGRAPH ------ */

.long-copy {
  line-height: 145%;
  width: 70%;
  margin-left: 15%;
}

.feature-box p {
  font-size: 0.9rem;
  line-height: 145%;
}

/* ------ BUTTONS ------ */

.btn {
  display: inline-block;
  padding: 10px 30px;
  border-radius: 25px;
  text-decoration: none;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full {
  border: 2px solid #e67e22;
  background-color: #e67e22;
  color: #fff;
  margin-right: 15px;
}

.btn-ghost {
  border: 2px solid #e67e22;
  color: #e67e22;
}

.btn-full:hover {
  border-color: #cf6d17;
  background-color: #cf6d17;
}

.btn-ghost:hover {
  border-color: #cf6d17;
  background-color: #cf6d17;
  color: #fff;
}

/* ------ ICONS ------ */

.icon-big {
  font-size: 3.5rem;
  display: block;
  color: #e67e22;
  margin-bottom: 15px;
}

.icon-small {
  color: #e67e22;
}

/* --------------------------------------------------------- */
/*HEADER*/
/* --------------------------------------------------------- */

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/hero.jpg");
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.hero-text-box {
  width: 1140px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logo {
  height: 100px;
  width: auto;
  float: left;
  margin-top: 20px;
}

.main-nav {
  float: right;
  list-style: none;
  margin-top: 60px;
}

.main-nav li {
  display: inline-block;
  margin-left: 40px;
}

.main-nav li a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1rem;
  padding-bottom: 10px;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.3s;
}

.main-nav li a:hover {
  border-bottom: 2px solid #cf6d17;
}

/* --------------------------------------------------------- */
/*FEATURES*/
/* --------------------------------------------------------- */

.section-features .long-copy {
  margin-bottom: 25px;
}

.section-features .icon-big {
  margin-bottom: 17px;
}

/* --------------------------------------------------------- */
/*MEALS*/
/* --------------------------------------------------------- */

.section-meals {
  padding: 0;
}

.meals-showcase {
  list-style: none;
  width: 100%;
}

.meals-showcase li {
  display: block;
  float: left;
  width: 25%;
}

.meal-photo {
  width: 100%;
  margin: 0;
  overflow: hidden;
  background-color: #000;
}

.meal-photo img {
  width: 100%;
  height: auto;
  opacity: 0.7;
  transform: scale(1.15);
  transition: transform 0.4s, opacity 0.4s;
}

.meal-photo img:hover {
  transform: scale(1.05);
  opacity: 1;
}

/* --------------------------------------------------------- */
/*HOW IT WORKS*/
/* --------------------------------------------------------- */

.section-steps {
  background-color: #f4f4f4;
}

.steps-box:first-child {
  text-align: right;
  padding-right: 3%;
  margin-top: 30px;
}

.steps-box:last-child {
  padding-left: 3%;
  margin-top: 70px;
}
.app-screen {
  width: 40%;
}

.works-step {
  margin-bottom: 50px;
}

.works-step:last-of-type {
  margin-bottom: 80px;
}

.works-step div {
  color: #e67e22;
  font-size: 1.5rem;
  border: 2px solid #e67e22;
  border-radius: 50%;
  height: 55px;
  width: 55px;
  text-align: center;
  padding: 5px;
  float: left;
  margin-right: 25px;
}

.btn-app img {
  height: 50px;
  width: auto;
  margin-right: 10px;
}

/* --------------------------------------------------------- */
/*CITIES*/
/* --------------------------------------------------------- */

.img-city figure {
  margin-bottom: 17px;
}

.img-city figure img {
  width: 100%;
  height: auto;
}

.img-city h3 {
  margin-bottom: 17px;
}

.city-features {
  word-spacing: 3px;
  margin-bottom: 7px;
}

.city-features .icon-small {
  padding: 0 7px;
}

.link-email {
  color: #e67e22;
  text-decoration: none;
  border-bottom: 1px solid #e67e22;
  padding: 1px;
  transition: border-bottom 0.2s, color 0.2s;
}

.link-email:hover {
  border-bottom: 1px solid transparent;
  color: #555;
}

/* --------------------------------------------------------- */
/*TESTIMONIALS*/
/* --------------------------------------------------------- */

.section-testimonials {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/back-customers.jpg");
  color: #fff;
}

.customer figure {
  display: inline-block;
}

.customer figure img {
  width: 80px;
  height: auto;
  border-radius: 50%;
}

.customer span {
  display: block;
  margin-bottom: 14px;
  font-size: 1.8rem;
  font-weight: bold;
}

.customer p {
  line-height: 150%;
  font-size: 1.15rem;
  font-style: italic;
  margin-bottom: 25px;
}
